<article>
  <header>Fill out the form to create an account</header>
  <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
  <ul>
    <% errors.forEach(function(error) { %>
    <li style="color: rgb(161, 15, 15)"><%= error.msg %></li>
    <% }); %>
  </ul>
  <% } %>
  <form action="/users/create" method="POST">
    <input
      type="text"
      name="first_name"
      id="firstName"
      value="<%= typeof firstName != 'undefined' ? firstName : ""%>"
      placeholder="First name"
    />
    <input 
      type="text" 
      name="last_name" 
      id="lastName" 
      value="<%= typeof lastName != 'undefined' ? lastName : ""%>"
      placeholder="Last name" 
    />
    <input
      type="text"
      name="username"
      id="username"
      value="<%= typeof userName != 'undefined' ? userName : ""%>"
      placeholder="Username"
    />
    <input
      type="password"
      name="password"
      id="Password"
      placeholder="Password"
    />
    <input
      type="password"
      name="passwordConfirmation"
      id="passwordConfirmation"
      placeholder="Confirm password"
    />
    <button type="submit">Login</button>
  </form>
</article>
