<article>
  <header>Fill out the form to create an account</header>
  <%- include('errors') %>
  <form action="/users/create" method="POST">
    <input
      type="text"
      name="first_name"
      id="firstName"
      value="<%= typeof firstName != 'undefined' ? firstName : ""%>"
      placeholder="First name"
    />
    <input 
      type="text" 
      name="last_name" 
      id="lastName" 
      value="<%= typeof lastName != 'undefined' ? lastName : ""%>"
      placeholder="Last name" 
    />
    <input
      type="text"
      name="username"
      id="username"
      value="<%= typeof userName != 'undefined' ? userName : ""%>"
      placeholder="Username"
    />
    <input
      type="password"
      name="password"
      id="Password"
      placeholder="Password"
    />
    <input
      type="password"
      name="passwordConfirmation"
      id="passwordConfirmation"
      placeholder="Confirm password"
    />
    <button type="submit">Login</button>
  </form>
</article>
