<article>
  <header>Fill out the form and submit to create a message</header>
  <%- include('errors') %>
  <form action="/messages/create" method="POST">
    <label for="title">Title:</label>
    <input
      type="text"
      id="title"
      name="title"
      value="<%= typeof title != 'undefined' ? title : '' %>"
    />

    <label for="content">Content:</label>
    <textarea id="content" name="content" rows="4" cols="50">
      <%= typeof content != 'undefined' ? content : '' %>
    </textarea>
    <button type="submit">Create Message</button>
  </form>
</article>
