<% if (typeof messages === 'undefined' || messages.length === 0) { %>
<h2>No messages to display</h2>
<% } else { %>
<table>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Checkbox</th>
      <th scope="col">Username</th>
      <th scope="col">Message</th>
      <th scope="col">Timestamp</th>
    </tr>
  </thead> 
  <tbody>
  <% messages.forEach(function(message) { %>
    <tr>
      <th scope="row">1</th>
      <td>Checkbox</td>
      <td><%= decodeHTML(message.user.username) %></td>
      <td><%= decodeHTML(message.title) %></td>
      <td><%= decodeHTML(message.formatted_timestamp) %></td>
    </tr>
  <% }); %> 
  </tbody>
</table>
<% } %>