<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mockup</title>
    <link rel="stylesheet" href="/stylesheets/pico.min.css" />
  </head>
  <body>
    <nav class="container-fluid">
      <ul>
        <li>
          <h3>
            <strong>MessageBoard</strong>
          </h3>
        </li>
      </ul>
      <ul>
        <li><a href="/login">login</a></li>
        <li><a href="/club-signup">Join the club!</a></li>
      </ul>
    </nav>
    <main class="container">
      <!-- <% %> - No output tag
      <%= %> - Outputs HTML value
      <%- %> - Outputs unescaped -->
      <% if (content === 'messageboard') {%>
        <%- include('messageboard') %>
      <% }%>
      <dialog closed>
        <article>
          <header>
            <a href="#close" aria-label="Close" class="close"></a>
            Fill out the form to create an account
          </header>
          <form>
            <input
              type="text"
              name="first_name"
              id="firstName"
              placeholder="first name"
              required
            />
            <input
              type="text"
              name="last_name"
              id="lastName"
              placeholder="last name"
            />
            <input
              type="text"
              name="username"
              id="username"
              placeholder="username"
              required
            />
            <input
              type="text"
              name="password"
              id="password"
              placeholder="password"
              required
            />
            <input
              type="password"
              name="password-confirmation"
              id="passwordConfimation"
              placeholder="conirm password"
              required
            />
            <button type="submit">Login</button>
          </form>
        </article>
      </dialog>
    </main>
  </body>
</html>
