<article>
  <header>
    <a href="#close" aria-label="Close" class="close"></a>
    Enter your username and password to login
  </header>
  <form>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="username"
      required
    />
    <input
      type="text"
      name="password"
      id="password"
      placeholder="password"
      required
    />
    <button type="submit">Login</button>
  </form>
</article>
