      <div class="grid">
        <section>
          <a href="/messages/create" role="button">Post to the MessageBoard!</a>
          <article>
            <hgroup>
              <h2>30 characters in this title...</h2>
              <h3>
                240Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nulla facilisi. Sed et ultrices dolor, nec venenatis risus.
                Proin quis tempor nunc. Suspendisse id semper eros. Donec
                lacinia est vitae metus gravida, ac tristique erat ultricies.
                Nunc auctor, turpis id rhoncus feugiat, turpis est convallis
                urna, ut ullamcorper enim mauris a arcu. Praesent euismod, enim
                in commodo fringilla, lacus odio luctus purus, vitae tempus nibh
                lorem vel enim.
              </h3>
            </hgroup>
            <div style="display: grid; grid-template-columns: auto 1fr auto">
              <div style="display: inline-block">Author</div>
              <div style="display: inline-block"></div>
              <div style="display: inline-block">Timestamp</div>
            </div>
          </article>
          <article>
            <hgroup>
              <h2>30 characters in this title...</h2>
              <h3>
                240Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nulla facilisi. Sed et ultrices dolor, nec venenatis risus.
                Proin quis tempor nunc. Suspendisse id semper eros. Donec
                lacinia est vitae metus gravida, ac tristique erat ultricies.
                Nunc auctor, turpis id rhoncus feugiat, turpis est convallis
                urna, ut ullamcorper enim mauris a arcu. Praesent euismod, enim
                in commodo fringilla, lacus odio luctus purus, vitae tempus nibh
                lorem vel enim.
              </h3>
            </hgroup>
            <div style="display: grid; grid-template-columns: auto 1fr auto">
              <div style="display: inline-block">Author</div>
              <div style="display: inline-block"></div>
              <div style="display: inline-block">Timestamp</div>
            </div>
          </article>
          <article>
            <hgroup>
              <h2>30 characters in this title...</h2>
              <h3>
                240Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nulla facilisi. Sed et ultrices dolor, nec venenatis risus.
                Proin quis tempor nunc. Suspendisse id semper eros. Donec
                lacinia est vitae metus gravida, ac tristique erat ultricies.
                Nunc auctor, turpis id rhoncus feugiat, turpis est convallis
                urna, ut ullamcorper enim mauris a arcu. Praesent euismod, enim
                in commodo fringilla, lacus odio luctus purus, vitae tempus nibh
                lorem vel enim.
              </h3>
            </hgroup>
            <div style="display: grid; grid-template-columns: auto 1fr auto">
              <div style="display: inline-block">Author</div>
              <div style="display: inline-block"></div>
              <div style="display: inline-block">Timestamp</div>
            </div>
          </article>
        </section>
      </div>