<section class="loading">
  <article>
    <hgroup>
      <h1>Success!</h1>
      <h4>You will be redirected to the messageboard shortly</h4>
      <h4 aria-busy="true">Please wait...</h4>
      <script>
        // Redirect to the homepage after a delay
        setTimeout(() => {
          window.location.href = '/';
        }, 3000); // Redirect after 3 seconds
      </script>
    </hgroup>
  </article>
</section>
