@media (max-width: 576px) {
  .responsive-link {
    display: none;
  }
  .icon {
    display: inline;
  }
}
@media (min-width: 577px) {
  .responsive-link {
    display: inline;
  }
  .icon {
    display: none;
  }
}

.flex-container {
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
  justify-content: space-between;
  align-items: flex-end;
}
