@media (max-width: 576px) {
  .responsive-link {
    display: none;
  }
  .responsive-icon {
    display: inline;
  }
}
@media (min-width: 577px) {
  .responsive-link {
    display: inline;
  }
  .responsive-icon {
    display: none;
  }
}

.flex-container {
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: flex-end;
}

nav {
  align-items:start;
}

.pb-0 {
  padding-bottom: 0;
}

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}
