<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mockup</title>
    <link rel="stylesheet" href="css/pico.min.css" />
  </head>
  <body>
    <nav class="container-fluid">
      <ul>
        <li>
          <h3>
            <strong>MessageBoard</strong>
          </h3>
        </li>
      </ul>
      <ul>
        <li><a href="/login">login</a></li>
        <li><a href="/club-signup">Join the club!</a></li>
      </ul>
    </nav>
    <main class="container">
      <div class="grid">
        <section>
          <article>
            <h3>Message title</h3>
            <p>This is going to be where we put the content of the message</p>
          </article>
          <article>
            <h3>Message title</h3>
            <p>240Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Sed et ultrices dolor, nec venenatis risus. Proin quis tempor nunc. Suspendisse id semper eros. Donec lacinia est vitae metus gravida, ac tristique erat ultricies. Nunc auctor, turpis id rhoncus feugiat, turpis est convallis urna, ut ullamcorper enim mauris a arcu. Praesent euismod, enim in commodo fringilla, lacus odio luctus purus, vitae tempus nibh lorem vel enim.</p>
          </article>
        </section>
      </div>
    </main>
  </body>
</html>
